// Block: searchBar
.searchBar {
  @include input-field-container;

  // Element: search icon
  &__icon {
    color: $color-text-primary;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  // Element: search input field
  &__input {
    @include input-field-base;
  }
}
