/**
 * Border Radius Tokens
 */
$border-radius-sm: 4px;
$border-radius-base: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;
$border-radius-full: 9999px;

:root {
  --border-radius-sm: #{$border-radius-sm};
  --border-radius-base: #{$border-radius-base};
  --border-radius-md: #{$border-radius-md};
  --border-radius-lg: #{$border-radius-lg};
  --border-radius-full: #{$border-radius-full};
}
