.navbar {
  background-color: $color-black;
  padding: $spacing-4 $padding-mobile; // 16px vertical, 16px horizontal on mobile
  position: sticky;
  top: 0;
  z-index: $z-index-sticky;
  height: 84px;
  @include flex-center-vertical;

  @include md {
    padding: $spacing-4 $padding-desktop; // 16px vertical, 48px horizontal on tablet+
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.favoritesButton {
  @include button-reset;
  color: $color-primary;
  @include flex-center-vertical;
  position: relative;
  flex-shrink: 0;
  @include hover-scale(1.05);
  @include focus-outline($color-white, 4px);
}

.favoritesCount {
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $color-white;
  min-width: 20px;
  text-align: left;
  margin-left: $spacing-1;
}
