.inputContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;

  &--fullWidth {
    width: 100%;
  }

  &__label {
    @include input-text-base;
    font-size: $font-size-sm;
    color: $color-text-primary;
  }

  &__wrapper {
    @include input-field-container;
  }

  &__icon {
    color: $color-text-primary;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &__input {
    @include input-field-base;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &--error {
      // Keep error state minimal - can add border color or other indicator if needed
      color: $color-error;

      &::placeholder {
        color: rgba($color-error, 0.6);
      }
    }
  }

  &__error {
    @include input-text-base;
    font-size: $font-size-sm;
    color: $color-error;
  }

  &__helperText {
    @include input-text-base;
    font-size: $font-size-sm;
    color: $color-text-secondary;
  }
}
