/**
 * Main Entry Styles
 */

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: $color-background;
}

body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $color-background;
  color: $color-text-primary;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px $color-background inset;
  -webkit-text-fill-color: $color-text-primary;
}
