.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 0;
  flex-shrink: 0; // Prevent logo from shrinking
  @include safe-animation(transform $duration-fast $ease-out);

  &:hover {
    transform: scale(1.02);
  }

  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 4px;
    border-radius: 2px;
  }
}

.logoSvg {
  display: block;
  width: 130px;
  height: 52px;
  
  // Responsive sizing for mobile - maintain aspect ratio
  @include mobile {
    width: 130px;
    height: 52px;
  }
  
  // For very small screens
  @media (max-width: 360px) {
    width: 110px;
    height: auto;
  }
}
